@font-face {
    font-family: Gelatin;
    src: url("src/assets/fonts/GelatinMonoTTF.ttf") format("truetype");
}

@font-face {
    font-family: GelatinCaps;
    src: url("src/assets/fonts/GelatinTTFCAPS.ttf") format("truetype");
}

@font-face {
    font-family: Squarebit;
    src: url("src/assets/fonts/Squarebit.ttf") format("truetype");
}

@font-face {
    font-family: Squarebit2x;
    src: url("src/assets/fonts/Squarebit2Px.ttf") format("truetype");
}